button {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  position: relative;
  display: inline-block;
  border: none;
  border-radius: 6px;
}

button.edit {
  background-image: url(../assets/edit-1-svgrepo-com.svg);
}
button.add {
  background-image: url(../assets/add-plus-svgrepo-com.svg);
}

button.done {
  background-image: url(../assets/done-round-svgrepo-com.svg);
}

button.delete {
  background-image: url(../assets/trash-svgrepo-com.svg);
}
