header {
  background-color: var(--medium-color);
  display: flex;
  align-items: center;
  box-shadow: 5px 4px 20px 2px rgba(6, 101, 226, 0.1);
  border-radius: 10px 10px 0px 0px;
}

h1,
h2 {
  color: var(--bright-color);
}

div {
  text-align: justify;
  width: 70%;
}

.container {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 60%;
}

.profile-container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-around;
  width: 30%;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px var(--bright-color) solid;
  background-size: cover;
  background-color: var(--bright-color);
}
