@font-face {
  font-family: "Fira-Sans";
  src: url("../assets/fonts/FiraSans-Regular.woff") format("woff"),
    url("../assets/fonts/FiraSans-Regular.woff2") format("woff2");
  font-style: normal;
  font-size: 16px;
}

:root {
  --dark-color: #02356e;
  --bright-color: white;
  --medium-color: #2fa1c5;

  font-family: "Fira-Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
