.content {
  flex: 2 0 auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: inherit;
  gap: 1rem;
}

aside {
  background-color: var(--dark-color);
  color: var(--bright-color);
}

li {
  display: flex;
}

li::before {
  content: "";
  filter: invert(100%);
  background-repeat: no-repeat;
  background-position: center;
  height: 25px;
  width: 25px;
  background-size: contain;
  margin-right: 1rem;
}

.personal-info > div,
.bullets > div {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: auto;
}

.objective div {
  display: flex;
  align-items: center;
  gap: 1rem;
}
