form {
  display: grid;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: max-content;
  background-color: var(--dark-color);
  color: var(--bright-color);
  text-align: center;
  border-radius: 5px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: 100%;
  margin-left: -60px;
  transition: opacity 0.3s;
  opacity: 0;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

dialog {
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 500px;
  width: 100%;
  background-color: var(--medium-color);
  margin: auto;
  transform: translateY(-30%);
  color: var(--brigth-color);
}

dialog h3 {
  text-align: center;
  margin-bottom: 24px;
}

.form-group {
  position: relative;
  margin-bottom: 24px;
  width: 100%;
}

.form-group input,
.form-group textarea,
.form-group select {
  padding: 12px;
  border: 1px solid var(--bright-color);
  border-radius: 4px;
  width: 100%;
  font-size: 16px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.form-group input[type="checkbox"] {
  width: auto;
  transform: scale(1.5);
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
  border-color: var(--medium-color);
  box-shadow: 0 0 5px var(--dark-color);
  outline: none;
}

.form-group label {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  background: transparent;
  padding: 0 5px;
  transition: 0.3s;
  pointer-events: none;
  opacity: 0.7;
  font-size: 16px;
  color: var(--dark-color);
}

.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label,
.form-group textarea:focus + label,
.form-group textarea:not(:placeholder-shown) + label,
.form-group select:focus + label,
.form-group select:not(:placeholder-shown) + label {
  top: -14px;
  left: 12px;
  font-size: 14px;
  opacity: 1;
  background-color: transparent;
  color: var(--bright-color);
}

.form-group input[type="checkbox"] + label {
  top: 50%;
  left: 16px;
  font-size: 14px;
  opacity: 1;
  background-color: var(--bright-color);
}

.dialog-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  width: 100%;
}

.dialog-buttons button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: var(--dark-color);
  color: var(--bright-color);
  transition: background-color 0.3s;
  width: 100px;
  height: 100%;
}

.dialog-buttons button:hover {
  background-color: black;
}

#cancel-button {
  background-color: var(--bright-color);
  border: 1px solid var(--dark-color);
  color: var(--dark-color);
}

#cancel-button:hover {
  color: var(--bright-color);
  background-color: black;
}

button:hover {
  transition: background-color 0.3s ease;
  border-radius: 4px;
  background-color: var(--bright-color);
}
